
.main1{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.textarea{
    height: 100%;
    width: 80vw;
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 10px;
    background-color:#fffbf3;
}
.newBtn{
    margin-left:3vmin;
    margin-top: 20px;
    height: 100%;
    width: 10vw;
    background-color:#4F6F52;
    color:#ECE3CE;
    border: none;
     border-radius:3px;
     font-size: 16px;
     transition: 0.3s all ease-in-out;
    /* margin-bottom: 20vmin; */
}
.newBtn:hover{
    background-color: #739072;
    scale: 110%;
}
.header1{
    margin: 5vmin;
    margin-left: 6vmin;
}
.header1 p{
    font-size: 45px;
    font-weight: 900;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer-blog{
    margin-top: 8vmin;
    margin-left: 6vmin;
}
.blog-textarea{
    height: 50vh;
    width: 92vw;
    padding: 10px 15px;
    font-size: 16px;
}
#content{
    background-color: #fffbf3;
}
